<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Hey I'm Sharon!</h1>
      <h4 class="subheader">I'm busy staring at space.</h4>
    </div>
    <div class="content">
      <img class="ace-at-computers :P" src="/images/tdawg.jpg" />
      <p>My name is Sharon and I'm currently studying CS at Maynooth University.</p>
    </div>
  </main>
</body>
</html>
